.card{
    border-radius: 10px;
    background-color: lightgrey
}

.search-list{
    border-radius: 15px;
    background-color: rgba(158, 203, 218, 0.63)
}

.saveBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}